$txt-color: #167e48; // 字体颜色
$bg-color: #f0552f; // 背景颜色
$browser-default-font-size: 75px !default;
;
@function pr($px) {
  @return $px / $browser-default-font-size * 1rem;
}

$padding-size: pr(20px);

html, body, div, a, p, span, ul, li{
  box-sizing: border-box;
}

%in-b {
  display: inline-block;
  *zoom: 1;
  *display: inline;
}

%one {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.wap{
  max-width: pr(750px);
  margin: 0 auto;
  overflow: hidden;
}

.header {
  padding: 0 $padding-size;
  height: pr(120px);
  display: flex;
  justify-content: space-between;
  .logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .nuoda {
      width: pr(154px);
      height: pr(52px);
      padding-right: $padding-size;
      border-right: 1px solid #cccccc;
      margin-right: pr(15px);
    }
    .eu {
      width: pr(150px);
      height: pr(38px);
    }
  }
  .header-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .icon {
      width: pr(50px);
      height: pr(50px);
      background: url("../images/tel.png") no-repeat center;
      background-size: 100% 100%;
      margin-right: 7px;
    }
    .text {
      display: flex;
      flex-direction: column;
      .hotline {
        font-size: pr(18px);
        color: #666666;
      }
      .number{
        font-size: pr(34px);
        color: $bg-color;
      }
    }
  }
}

.banner{
  @extend %in-b;
}

.title-module {
  height: pr(62px);
  font-size: pr(40px);
  color: #333333;

  text-align: center;
  position: relative;
  strong {
    font-weight: bold;
    color: $txt-color;
  }
  .cn {
    position: absolute;
    top: 0;
    z-index: 2;
  }
  .en {
    color: #eeeeee;
    position: absolute;
    top: pr(22px);
  }
  .cn, .en {
    left: 0;
    right: 0;
    margin: auto;
    line-height: pr(40px);
  }
}

.about-us{
  padding: pr(60px) $padding-size 0;
  .carousel{
    margin-top: pr(40px);
  }
  .content {
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    padding: pr(60px) pr(40px) pr(49px);
    text-align: center;
    .detail-title {
      font-size: pr(30px);
      text-align: center;
      margin-bottom: pr(47px);
      display: flex;
      justify-content: center;
      line-height: pr(55px);
      .left {
        width: pr(304px);
        height: pr(55px);
        background-color: $txt-color;
        color: #ffffff;
        border-radius: pr(21px) 0 0 pr(21px);
      }
      .right {
        width: pr(235px);
        height: pr(55px);
        border-radius: 0 pr(21px) pr(21px) 0;
        border: solid 1px $txt-color;
        color: $txt-color;
      }
    }
    .text {
      font-size: pr(24px);
      color: #333333;
      line-height: 1.5;
      text-align: left;
    }
    .btn {
      @extend %in-b;
      background-color: $bg-color;
      border: solid 1px $bg-color;
      font-size: pr(26px);
      color: #ffffff;
      text-align: center;
      margin-top: 30px;

      width: pr(300px);
      height: pr(56px);
      line-height: pr(56px);
      border-radius: pr(28px);
      cursor: pointer;
    }
  }
}

.btn-module {
  text-align: center;
  a {
    @extend %in-b;
    width: pr(260px);
    height: pr(56px);
    line-height: 48px;
    border-radius: pr(28px);
    border: solid 1px $bg-color;
    font-size: pr(26px);
    margin-right: pr(30px);
    color: $bg-color;
    &.active {
      background-color: $bg-color;
      color: #ffffff;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}

/* 课程优势 */
.course-advantage {
  padding: pr(60px) $padding-size pr(47px);
  .content {
    .advantage {
      margin-top: pr(40px);
      margin-bottom: pr(40px);
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: $padding-size;
      grid-row-gap: $padding-size;
      li {
        width: pr(345px);
        height: pr(240px);
        background-color: #ffffff;
        border-radius: pr(8px);
        border: solid 1px rgba(221,221,221, 0.9);
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        span {
          font-size: pr(26px);
          line-height: pr(26px);
          color: #333333;
          margin-top: pr(30px);
        }
      }
    }
    .text {
      color: #333333;
      font-size: pr(26px);
      text-align: left;
      margin-bottom: pr(50px);
    }
  }
}

/* 校区 */
.campuses {
  width: 100%;
  height: pr(800px);
  background: url("../images/bg_1.png") no-repeat center;
  background-size: 100% 100%;
  padding: pr(60px) $padding-size pr(47px);
  .content {
    .carousel {
      margin-top: pr(40px);
      margin-bottom: pr(40px);
      display: flex;
      justify-content: space-between;
      li {
        width: pr(345px);
        height: pr(460px);
        background-size: 100% 100%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        .school-name {
          width: pr(220px);
          height: pr(120px);
          background-color: #167e48;
          border-radius: pr(5px);
          font-size: pr(20px);
          color: #eeeeee;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
      }
    }
    .pointer{
      text-align: center;
      span{
        @extend %in-b;
        width: pr(20px);
        height: pr(20px);
        background-color: #167e48;
        border-radius: 50%;
        cursor: pointer;
        margin-right: pr(10px);
        &.active{
          width: pr(40px);
          border-radius: pr(10px);
        }
      }
    }
  }
}

/* 课程介绍 */
.course-introduce {
  width: 100%;
  //height: 804px;

  padding-top: pr(49px);
  box-sizing: border-box;
  .text {
    color: #333333;
    font-size: pr(26px);
    text-align: center;
    margin: pr(37px) auto pr(58px);
  }
  .course-module{
    width: 100%;
    height: pr(879px);
    background: url("../images/bg_2.png") no-repeat center bottom;
  }
  .btn-module {
    margin-top: pr(50px);
  }
}

/* 教授 */
.professor {
  width: 100%;
  height: pr(800px);
  background: url("../images/bg_3.png") no-repeat center;
  background-size: 100% 100%;
  padding-top: pr(40px);
  margin-top: pr(60px);
  .title-module {
    .cn {
      color: #ffffff;
      font-weight: bold;
    }
    .en {
      color: rgba(255, 255, 255, 0.12);
    }
  }

  .content {
    .area {
      //@extend %clearfix;
      margin-right: -30px;
      margin-top: 120px;
      margin-bottom: 40px;
      li {
        width: pr(520px);
        height: pr(400px);
        background-color: rgba(255, 255, 255, 0.9);
        padding: 0 pr(30px);
        text-align: center;
        background-size: 100% 100%;
        margin: 0 auto;
        .avatar {
          width: pr(120px);
          height: pr(120px);
          margin-top: pr(-60px);
        }
        .name {
          font-size: pr(30px);
          line-height: pr(30px);
          color: #333333;
          margin-top: pr(18px);
          span {
            font-size: 14px;
            color: #999999;
          }
        }
        .honor {
          margin-top: pr(15px);
          font-size: pr(20px);
          line-height: pr(20px);
          strong {
            display: block;
            color: $txt-color;
            font-weight: normal;
          }
          span {
            display: block;
            color: #999999;
            margin-top: pr(10px);
          }
        }
        .experience {
          margin-top: 40px;
          .item {
            display: flex;
            justify-content: space-between;
            .icon {
              width: pr(18px);
              height: pr(18px);
              background: url("../images/arrows.png") no-repeat;
              margin-right: 6px;
              margin-top: 5px;
            }
            p {
              width: pr(422px);
              line-height: 1.5;
              text-align: left;
              font-size: pr(20px);
              color: #333333;
            }
          }
        }
      }

      .pointer{
        text-align: center;
        margin-top: pr(24px);
        span{
          @extend %in-b;
          width: pr(20px);
          height: pr(20px);
          background-color: #ffffff;
          border-radius: 50%;
          cursor: pointer;
          margin-right: pr(10px);
          &.active{
            width: pr(40px);
            border-radius: pr(10px);
          }
        }
      }
    }
    .btn-module {
      a {
        border: 1px solid #ffffff;
        color: #ffffff;
        &.active {
          border: 1px solid $bg-color;
        }
      }
    }
  }
}
